In [1]:
import pymongo
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://Himanshup:Himanshu88@cluster0.bqum7dh.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
 pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 28.0 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 39.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install --upgrade pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
client

MongoClient(host=['ac-xmee47j-shard-00-02.bqum7dh.mongodb.net:27017', 'ac-xmee47j-shard-00-00.bqum7dh.mongodb.net:27017', 'ac-xmee47j-shard-00-01.bqum7dh.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-pr0aq4-shard-0', tls=True)

In [27]:
uri = "mongodb+srv://Himanshup:Himanshu88@cluster0.bqum7dh.mongodb.net/?retryWrites=true&w=majority"

In [63]:
# Assigining database to db as Pwskills.
db = client['Pwskills']

In [64]:
# Writting data into data file (called as Json file)
data = {"name":"Himanshu"
        ,"class":"DSM"
        ,"Class_time":"Flexi"} #Document

In [65]:
# new collection
coll_pwskills = db["my_record"]

In [66]:
coll_pwskills.insert_one(data) #inserting data into database

In [67]:
# Writting data into data file (called as Json file)
data1 = {"mail_id":"sudh@gmail.com",
         "phone_number":4578895623,
         "address":"United Arab Emirat"
}

In [68]:
 #inserting data into database
coll_pwskills.insert_one(data1)

# Mongodb is a documentbased database.

# in form of document ham data save krte hai in Mongodb

In [69]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]  # json file

In [70]:
coll_pwskills.insert_many(data2)

In [71]:
data3 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [72]:
coll_pwskills.insert_one(data3)

# you can make chart in mongodb and make a report here also.

In [73]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [74]:
coll_pwskills.insert_many(list_of_records)

In [75]:
coll_pwskills.find_one()

{'_id': ObjectId('649d05e1f9b77d038367ad33'),
 'name': 'Himanshu',
 'class': 'DSM',
 'Class_time': 'Flexi'}

In [76]:
for i in coll_pwskills.find():
    print(i)# to view all records

{'_id': ObjectId('649d05e1f9b77d038367ad33'), 'name': 'Himanshu', 'class': 'DSM', 'Class_time': 'Flexi'}
{'_id': ObjectId('649d05e1f9b77d038367ad34'), 'mail_id': 'sudh@gmail.com', 'phone_number': 4578895623, 'address': 'United Arab Emirat'}
{'_id': ObjectId('649d05e1f9b77d038367ad35'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649d05e1f9b77d038367ad36'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649d05e1f9b77d038367ad37'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649d05e1f9b77d038367ad38'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad39'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649d05e1f9b77d038367ad3a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649d05e1f9b77d038367ad3b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649d05e1f9b77d038367ad3c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad3d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649d05e1f9b77d038367ad3e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649d05e1f9b77d038367ad3f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649d05e1f9b77d038367ad40'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649d05e1f9b77d038367ad41'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('649d05e1f9b77d038367ad42'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('649d05e1f9b77d038367ad43'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('649d05e1f9b77d038367ad44'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [77]:
# query
for i in coll_pwskills.find({'name': 'Himanshu'}):
    print(i)

{'_id': ObjectId('649d05e1f9b77d038367ad33'), 'name': 'Himanshu', 'class': 'DSM', 'Class_time': 'Flexi'}

In [78]:
#query
for i in coll_pwskills.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('649d05e1f9b77d038367ad42'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('649d05e1f9b77d038367ad43'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('649d05e1f9b77d038367ad44'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [79]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [80]:
coll_pwskills.insert_many(random_data)

In [81]:
#coll_pwskills.delete_many({})  # this command is use for delete @ all the data from Mongodb

In [82]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('649d05e1f9b77d038367ad33'), 'name': 'Himanshu', 'class': 'DSM', 'Class_time': 'Flexi'}
{'_id': ObjectId('649d05e1f9b77d038367ad34'), 'mail_id': 'sudh@gmail.com', 'phone_number': 4578895623, 'address': 'United Arab Emirat'}
{'_id': ObjectId('649d05e1f9b77d038367ad35'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649d05e1f9b77d038367ad36'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649d05e1f9b77d038367ad37'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649d05e1f9b77d038367ad38'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad39'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649d05e1f9b77d038367ad3a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649d05e1f9b77d038367ad3b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649d05e1f9b77d038367ad3c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad3d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649d05e1f9b77d038367ad3e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649d05e1f9b77d038367ad3f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649d05e1f9b77d038367ad40'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649d05e1f9b77d038367ad41'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('649d05e1f9b77d038367ad42'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('649d05e1f9b77d038367ad43'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('649d05e1f9b77d038367ad44'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [83]:
for i in coll_pwskills.find({"_id":{"$gte":'4'}}):         # {gte} = greater then equal 
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [84]:
# update 
coll_pwskills.update_many({'companyName': 'iNeuron'},{'$set':{'companyName':'pwskills'}})

In [85]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('649d05e1f9b77d038367ad33'), 'name': 'Himanshu', 'class': 'DSM', 'Class_time': 'Flexi'}
{'_id': ObjectId('649d05e1f9b77d038367ad34'), 'mail_id': 'sudh@gmail.com', 'phone_number': 4578895623, 'address': 'United Arab Emirat'}
{'_id': ObjectId('649d05e1f9b77d038367ad35'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('649d05e1f9b77d038367ad36'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('649d05e1f9b77d038367ad37'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('649d05e1f9b77d038367ad38'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad39'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('649d05e1f9b77d038367ad3a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('649d05e1f9b77d038367ad3b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('649d05e1f9b77d038367ad3c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('649d05e1f9b77d038367ad3d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('649d05e1f9b77d038367ad3e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('649d05e1f9b77d038367ad3f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('649d05e1f9b77d038367ad40'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('649d05e1f9b77d038367ad41'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('649d05e1f9b77d038367ad42'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('649d05e1f9b77d038367ad43'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('649d05e1f9b77d038367ad44'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [86]:
# coll_pwskills.drop() # this is for delete all the data from our collection(Document file(json file)).